  .main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1.5cm;
  }
  .container,
  .display{
    max-width: 600px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 16px;  
  }
  .session_break_length,
  .length,
  .btns{
    display: flex;
    justify-content: space-between;
    align-items: center
  }
  .session_break_length {
    gap: 2em;
  }
  .length{
    flex-direction: column;
    width: 200px;
  }
  .btns{
    width: 60%;
    justify-content: space-around;
  }
  .display{
    width: 250px;
    height: 200px;
    border: 8px solid orange;
    border-radius: 20%;
  }
  .timeleft{
    font-size: 2.5em;
    font-weight: 800;
  }
  .button{
    background: none;
    color: white;
    font-size: 1em;
    font-weight: 800;
    border: none;
  }
  .playreset{
    display: flex;
    gap: 16px;
  }

  .em{
      font-size: 24px;
      color: orange;
      margin-top: 30px;
    }

  @media screen and (max-width: 500px) {
    .main {
      font-size: 1.5em;
    }
    .container{
      padding-top: 1cm;
      gap: 18px;
    }
    .session_break_length {
      font-size: .75em;
      font-weight: 800;
      gap: 4px;
    }
    .length{
    flex-direction: column;
      width: 150px;
    }
    .display{
      width: 200px;
      gap: 8px;  
    }
    .em{
      font-size: 1em;
      text-align: center;
    }
  }