
  .container{
    min-height: 80vh;
    background-color: #b2ad7f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .drumMachine{
    display: flex;
    background-color: #878f99;
    width: 600px;
    height: 300px;
    border: 2px solid black;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 3px 3px 10px black;
  }
  .keys{
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
  }
  .drumPad{
    background-color: #713f12;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 5px black;
    font-weight: 900;
    font-size: 18px;
  }
  .drumPad:active{
    background-color: lightgray;
    color: black
  }
  .controls,
  .switch,
  .audioSlider{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .display{
    width: 200px;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 8px;
  }
  .switch,
  .audioSlider{
    width: 100px;
    height: 50px;
    font-size: 16px;
    font-weight: 900;
    color: white;
    gap: 8px;
  }
  .toggleSwitch{
    width: 65px;
    height: 20px;
    background-color: black;
    border: 2px solid black;
  }
  .toggle{
    width: 45%;
    height: 100%;
    background-color: #713f12;
    transition: margin-left 0.5s;
  }
  .audio-slider{
    width: 150px;
  }
  .volume{
    color: #713f12;
    background-color: black;
  }